/ListView/HelloBolt.ncb
/ListView/log.txt
/ListView/MyBolt/Debug
Debug
/LuaClass/*.ncb
/BXFObjects/HelloBolt.ncb
/TreeView/*.ncb
/BXFObjects/*.suo
/BXFObjects/XLUEExtObject/Debug
/BXFObjects/XLUEExtObject/*.user
/BXFObjects/MyBolt/Debug
